{
    "openapi": "3.1.0",
    "info": {
        "title": "OpenAPI definition",
        "version": "v0"
    },
    "servers": [
        {
            "url": "http://test2.m-team.cc/api",
            "description": "Generated server url"
        }
    ],
    "paths": {
        "/system/unix": {
            "get": {
                "tags": [
                    "\u7cfb\u7d71"
                ],
                "operationId": "unix",
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "\u7cfb\u7d71"
                ],
                "operationId": "unix_1",
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/system/iscn": {
            "get": {
                "tags": [
                    "\u7cfb\u7d71"
                ],
                "operationId": "iscn",
                "parameters": [
                    {
                        "name": "ip",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "\u7cfb\u7d71"
                ],
                "operationId": "iscn_1",
                "parameters": [
                    {
                        "name": "ip",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/system/ips": {
            "get": {
                "tags": [
                    "\u7cfb\u7d71"
                ],
                "operationId": "ip",
                "parameters": [
                    {
                        "name": "ips",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "\u7cfb\u7d71"
                ],
                "operationId": "ip_1",
                "parameters": [
                    {
                        "name": "ips",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/system/ip": {
            "get": {
                "tags": [
                    "\u7cfb\u7d71"
                ],
                "operationId": "ip_2",
                "parameters": [
                    {
                        "name": "ip",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "\u7cfb\u7d71"
                ],
                "operationId": "ip_3",
                "parameters": [
                    {
                        "name": "ip",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/system/ipASN": {
            "get": {
                "tags": [
                    "\u7cfb\u7d71"
                ],
                "operationId": "ipASN",
                "parameters": [
                    {
                        "name": "ip",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "\u7cfb\u7d71"
                ],
                "operationId": "ipASN_1",
                "parameters": [
                    {
                        "name": "ip",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tracker/queryHistory": {
            "post": {
                "tags": [
                    "tracker"
                ],
                "operationId": "queryHistory",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TrackerHistoryQuery"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tracker/mybonus": {
            "post": {
                "tags": [
                    "tracker"
                ],
                "operationId": "mybonus",
                "parameters": [
                    {
                        "name": "uid",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tracker/myPeerStatus": {
            "post": {
                "tags": [
                    "tracker"
                ],
                "operationId": "myPeerStatus",
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tracker/myPeerStatistics": {
            "post": {
                "tags": [
                    "tracker"
                ],
                "operationId": "myStatistics",
                "parameters": [
                    {
                        "name": "uid",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tracker/flush": {
            "post": {
                "tags": [
                    "tracker"
                ],
                "operationId": "flush",
                "parameters": [
                    {
                        "name": "uid",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tracker/clientList": {
            "post": {
                "tags": [
                    "tracker"
                ],
                "operationId": "clientList",
                "parameters": [
                    {
                        "name": "uid",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torrent/viewHits": {
            "post": {
                "tags": [
                    "\u7a2e\u5b50"
                ],
                "operationId": "viewHits",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torrent/videoCodecList": {
            "post": {
                "tags": [
                    "\u7a2e\u5b50"
                ],
                "operationId": "videoCodecList",
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torrent/thanksStatus": {
            "post": {
                "tags": [
                    "\u7a2e\u5b50"
                ],
                "operationId": "thanksStatus",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torrent/teamList": {
            "post": {
                "tags": [
                    "\u7a2e\u5b50"
                ],
                "operationId": "teamList",
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torrent/standardList": {
            "post": {
                "tags": [
                    "\u7a2e\u5b50"
                ],
                "operationId": "standardList",
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torrent/sourceList": {
            "post": {
                "tags": [
                    "\u7a2e\u5b50"
                ],
                "operationId": "sourceList",
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torrent/sendReward": {
            "post": {
                "tags": [
                    "\u7a2e\u5b50"
                ],
                "operationId": "sendReward",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "reward",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torrent/search": {
            "post": {
                "tags": [
                    "\u7a2e\u5b50"
                ],
                "operationId": "search",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TorrentSearch"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torrent/sayThank": {
            "post": {
                "tags": [
                    "\u7a2e\u5b50"
                ],
                "operationId": "sayThank",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torrent/rewardStatus": {
            "post": {
                "tags": [
                    "\u7a2e\u5b50"
                ],
                "operationId": "rewardStatus",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torrent/requestReseed": {
            "post": {
                "tags": [
                    "\u7a2e\u5b50"
                ],
                "operationId": "requestReseed",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torrent/queryTorrentTrackerHistory": {
            "post": {
                "tags": [
                    "\u7a2e\u5b50"
                ],
                "operationId": "queryTorrentTrackerHistory",
                "parameters": [
                    {
                        "name": "from",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/TorrentTrackerUserHistoryFom"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torrent/processingList": {
            "post": {
                "tags": [
                    "\u7a2e\u5b50"
                ],
                "operationId": "processingList",
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torrent/peers": {
            "post": {
                "tags": [
                    "\u7a2e\u5b50"
                ],
                "operationId": "peers",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torrent/mediumList": {
            "post": {
                "tags": [
                    "\u7a2e\u5b50"
                ],
                "operationId": "mediumList",
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torrent/mediaInfo": {
            "post": {
                "tags": [
                    "\u7a2e\u5b50"
                ],
                "operationId": "mediaInfo",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torrent/genDlToken": {
            "post": {
                "tags": [
                    "\u7a2e\u5b50"
                ],
                "operationId": "genDlToken",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torrent/files": {
            "post": {
                "tags": [
                    "\u7a2e\u5b50"
                ],
                "operationId": "files",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torrent/detail": {
            "post": {
                "tags": [
                    "\u7a2e\u5b50"
                ],
                "operationId": "detail",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "origin",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torrent/createOredit": {
            "post": {
                "tags": [
                    "\u7a2e\u5b50"
                ],
                "operationId": "createOredit",
                "parameters": [
                    {
                        "name": "form",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/TorrentUploadForm"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torrent/collection": {
            "post": {
                "tags": [
                    "\u7a2e\u5b50"
                ],
                "operationId": "collection",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "make",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torrent/chearCollection": {
            "post": {
                "tags": [
                    "\u7a2e\u5b50"
                ],
                "operationId": "chearCollection",
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torrent/categoryList": {
            "post": {
                "tags": [
                    "\u7a2e\u5b50"
                ],
                "operationId": "categoryList",
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torrent/audioCodecList": {
            "post": {
                "tags": [
                    "\u7a2e\u5b50"
                ],
                "operationId": "audioCodecList",
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/team/updateMembers": {
            "post": {
                "tags": [
                    "\u806f\u76df\u5c0f\u7d44"
                ],
                "operationId": "updateMembers",
                "parameters": [
                    {
                        "name": "teamId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "members",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer",
                                "format": "int64"
                            },
                            "uniqueItems": true
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/team/myTeams": {
            "post": {
                "tags": [
                    "\u806f\u76df\u5c0f\u7d44"
                ],
                "operationId": "myTeams",
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/team/apply": {
            "post": {
                "tags": [
                    "\u806f\u76df\u5c0f\u7d44"
                ],
                "operationId": "apply",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TeamApplyForm"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/system/top": {
            "post": {
                "tags": [
                    "\u7cfb\u7d71"
                ],
                "operationId": "top",
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "minLength": 1
                        }
                    },
                    {
                        "name": "subTypes",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "maximum": 250,
                            "minimum": 10
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/system/sysConf": {
            "post": {
                "tags": [
                    "\u7cfb\u7d71"
                ],
                "operationId": "sysConf",
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/system/state": {
            "post": {
                "tags": [
                    "\u7cfb\u7d71"
                ],
                "operationId": "state",
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/system/staff": {
            "post": {
                "tags": [
                    "\u7cfb\u7d71"
                ],
                "operationId": "staff",
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/system/promotion/rules": {
            "post": {
                "tags": [
                    "\u7cfb\u7d71"
                ],
                "operationId": "promotionRules",
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/system/news": {
            "post": {
                "tags": [
                    "\u7cfb\u7d71"
                ],
                "operationId": "news",
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/system/langs": {
            "post": {
                "tags": [
                    "\u7cfb\u7d71"
                ],
                "operationId": "langs",
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/system/hello": {
            "post": {
                "tags": [
                    "\u7cfb\u7d71"
                ],
                "operationId": "hello",
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/system/getConf": {
            "post": {
                "tags": [
                    "\u7cfb\u7d71"
                ],
                "operationId": "getConf",
                "parameters": [
                    {
                        "name": "items",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "APP_SECRET",
                                    "SITE_NAME",
                                    "SITE_URL",
                                    "ATTACH_URL",
                                    "API_URL",
                                    "API_SECRET",
                                    "TRACKER_URL",
                                    "JWT_SECRET",
                                    "JWT_EXPIRATION",
                                    "CLOSE_WEB",
                                    "CLOSE_TRACKER",
                                    "OPEN_REGISTER",
                                    "OPEN_INVITE_REGISTER",
                                    "INVITE_TIMEOUT",
                                    "EMAIL_CHECK",
                                    "EMAIL_PROVIDER",
                                    "EMAIL_BLACKLIST",
                                    "RESERVED_KEYWORDS",
                                    "ACCOUNT_VERIFY_METHOD",
                                    "SYS_SITE_EMAIL",
                                    "SYS_REPORT_EMAIL",
                                    "DEFAULT_LANGUAGE",
                                    "DEFAULT_COUNTRY",
                                    "ATTACH_PREFIX",
                                    "MAX_USER",
                                    "REQUIRE_CAPTCHA",
                                    "CAPTCHA_OPTIONS",
                                    "CAPTCHA_TURNSTILE",
                                    "SMART_AUTH",
                                    "REGISTER_IP_MAX",
                                    "MAX_LOGIN_ATTEMPTS",
                                    "HOME_SHOW_POLLS",
                                    "SHOW_HOTMOVIES",
                                    "OPEN_SHOUTBOX",
                                    "OPEN_FUNBOX",
                                    "OPEN_OFFER",
                                    "EXT_FORUM",
                                    "EXT_FORUM_URL",
                                    "MEMBER_SIGNUP_TIMEOUT",
                                    "MEMBER_DELETE_PACKED",
                                    "MEMBER_DELETE_UNPACKED",
                                    "MEMBER_DELETE_NOTRANSFER",
                                    "MEMBER_DELETE_NOTRANSFERTWO",
                                    "TRACKER_ANNINTERVAL",
                                    "TRACKER_ANNINTERTWOAGE",
                                    "TRACKER_ANNINTERTWO",
                                    "TRACKER_ANNINTERTHREEAGE",
                                    "TRACKER_ANNINTERTHREE",
                                    "TRACKER_UPLOADER_DOUBLE",
                                    "TRACKER_SPEED_STAT_LOG_TIMEOUT",
                                    "TORRENT_MAX_DEAD_HOUR",
                                    "TORRENT_MAX_DEAD_CLEAR_HOUR",
                                    "TORRENT_OFFER_MODIFY_TIMEOUT",
                                    "TORRENT_OFFER_MANAGER",
                                    "TORRENT_HOTDAYS",
                                    "TORRENT_HOTSEEDER",
                                    "TORRENT_UPLOAD_TEACH",
                                    "TORRENT_STORAGE_APPID",
                                    "TORRENT_STORAGE_SECRET",
                                    "TORRENT_STORAGE_HOST",
                                    "TORRENT_DOWNLOAD_DOMAINS",
                                    "TORRENT_TRACKER_DOMAINS",
                                    "TORRENT_RSS_DOMAINS",
                                    "TORRENT_FAST_COMMENT",
                                    "TORRENT_LABEL_CONFIG",
                                    "TORRENT_FILE_KEYWORD_BLACKLIST",
                                    "OFFER_MIN_VOTES",
                                    "OFFER_VOTE_TIMEOUT",
                                    "OFFER_UP_TIMEOUT",
                                    "TRACKER_CHEATERDET",
                                    "EXAM_TIME",
                                    "EXAM_UPLOAD",
                                    "EXAM_DOWNLOAD",
                                    "EXAM_BONUS",
                                    "EXAM_DESCR",
                                    "ADULT_CATEGORIES",
                                    "MOVIE_CATEGORIES",
                                    "MUSIC_CATEGORIES",
                                    "TVSHOW_CATEGORIES",
                                    "WATERFALL_CATEGORIES",
                                    "TORRENT_FORCE_OFFER_CATEGORIES",
                                    "TORRENT_REQUIRE_MEDIAINFO_CATEGORIES",
                                    "TORRENT_TEAM_SCOPE_UPLOAD_MEMBERS",
                                    "TORRENT_UPLOAD_COUNTRY_HIDE_CATS",
                                    "BONUS_POLLVOTE",
                                    "BONUS_OFFERVOTE",
                                    "BONUS_FUNBOXVOTE",
                                    "BONUS_FUNBOXREWARD",
                                    "BONUS_UPLOAD_TORRENT",
                                    "BONUS_UPLOAD_SUBTITLE",
                                    "BONUS_COMMENT",
                                    "TORRENT_THANKS",
                                    "BONUS_SAYTHANKS",
                                    "BONUS_RECEIVETHANKS",
                                    "BONUS_ADS_FIRST_CLICKED",
                                    "BONUS_PROMOTION_LINK_FIRST_CLICKED",
                                    "GIVING_SERIES",
                                    "GIVING_TAX",
                                    "SEEK_MINREWARD",
                                    "SEEK_FEEONE",
                                    "SEEK_FEEADD",
                                    "DMM_ALLOW_CREDIT",
                                    "DMM_REFUSE_CREDIT",
                                    "DMM_DEL_CREDIT",
                                    "ORDER_VIPDATA",
                                    "ORDER_USERDATA",
                                    "ORDER_UPLOADDATA",
                                    "ORDER_BONUSDATA",
                                    "ORDER_DUMMY_IP",
                                    "ORDER_DUMMY_COMMIT_URL",
                                    "ORDER_DUMMY_COMPLATE_URL",
                                    "ORDER_DUMMY_SALT",
                                    "ORDER_DUMMY_TTL",
                                    "ORDER_CURRENCY",
                                    "TEMPLATE_EMAIL_INVITE",
                                    "TEMPLATE_EMAIL_INVITE_ORDER",
                                    "TEMPLATE_EMAIL_LOGIN",
                                    "TEMPLATE_EMAIL_VERIFY",
                                    "TEMPLATE_EMAIL_PASSKEY",
                                    "TEMPLATE_SMS_TORRENT_BAN",
                                    "TEMPLATE_SMS_TORRENT_OFFER_FREEZE",
                                    "TRACKER_TZERO_BONUS",
                                    "TRACKER_NZERO_BONUS",
                                    "TRACKER_BZERO_BONUS",
                                    "TRACKER_L_BONUS",
                                    "TRACKER_PERSEEDING_BONUS",
                                    "TRACKER_MAXSEEDING_BONUS",
                                    "TRACKER_DONORTIMES_BONUS",
                                    "TRACKER_TORRENT_MS_SUM",
                                    "TRACKER_TORRENT_MS_UP",
                                    "TRACKER_TWOSTEP_BONUS",
                                    "TRACKER_OFFICIAL_BONUS",
                                    "AUTOCLEAN_INTERVAL_ONE",
                                    "BET_TAX_RATE",
                                    "BET_TBDEV_BOT_ID",
                                    "BET_FORUM_ID",
                                    "COURT_VOTE_OVER",
                                    "COURT_PLEAD_OVER",
                                    "COURT_PROCURATORS",
                                    "COURT_JURIES",
                                    "COURT_JUDGES",
                                    "COURT_TEMPLATE_EMAIL_CONTENT",
                                    "FORUM_TOPIC_SUBJECT_MAX_LENGTH",
                                    "FORUM_TOPIC_START_REWARD",
                                    "FORUM_TOPIC_MAKE_REWARD",
                                    "LeechWarn",
                                    "ALBUM_REWARD_RATIO",
                                    "ALBUM_TOP_NUM",
                                    "ALBUM_TOP_REWARD_RATIO",
                                    "TEAM_WORK_MEMBERS",
                                    "TEAM_WORK_READ_ONLY_MEMBERS",
                                    "TELEGRAM_BROADCAST_CHATS",
                                    "IYUU_SECRET",
                                    "AMMDS_SECRET",
                                    "MALL_SINGLE_FREE_TIMEOUT",
                                    "TEMPLATE_NTF_MALL_SINGLE_FREE_TIMEOUT"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/system/countryList": {
            "post": {
                "tags": [
                    "\u7cfb\u7d71"
                ],
                "operationId": "countryList",
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/system/banlogs": {
            "post": {
                "tags": [
                    "\u7cfb\u7d71"
                ],
                "operationId": "banlogs",
                "parameters": [
                    {
                        "name": "form",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/SearchForm"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subtitle/upload": {
            "post": {
                "tags": [
                    "\u5b57\u5e55"
                ],
                "operationId": "upload",
                "parameters": [
                    {
                        "name": "form",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/TorrenSubtitleForm"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subtitle/search": {
            "post": {
                "tags": [
                    "\u5b57\u5e55"
                ],
                "operationId": "search_1",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SubtitleSearch"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subtitle/list": {
            "post": {
                "tags": [
                    "\u5b57\u5e55"
                ],
                "operationId": "list",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subtitle/langs": {
            "post": {
                "tags": [
                    "\u5b57\u5e55"
                ],
                "operationId": "langs_1",
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subtitle/genlink": {
            "post": {
                "tags": [
                    "\u5b57\u5e55"
                ],
                "operationId": "genlink",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/staffbox/post": {
            "post": {
                "tags": [
                    "\u7ba1\u7406\u7d44\u4fe1\u7bb1"
                ],
                "operationId": "post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StaffMessagePostForm"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/seek/take": {
            "post": {
                "tags": [
                    "\u6c42\u7a2e"
                ],
                "operationId": "take",
                "parameters": [
                    {
                        "name": "seekId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "takeIds",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer",
                                "format": "int64"
                            }
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/seek/submit": {
            "post": {
                "tags": [
                    "\u6c42\u7a2e"
                ],
                "operationId": "submit",
                "parameters": [
                    {
                        "name": "seekId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "torrentId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/seek/submitList": {
            "post": {
                "tags": [
                    "\u6c42\u7a2e"
                ],
                "operationId": "submitList",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SearchForm"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/seek/search": {
            "post": {
                "tags": [
                    "\u6c42\u7a2e"
                ],
                "operationId": "search_2",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SeekSearchFrom"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/seek/recovery": {
            "post": {
                "tags": [
                    "\u6c42\u7a2e"
                ],
                "operationId": "recovery",
                "parameters": [
                    {
                        "name": "seekId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "reason",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "minLength": 1
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/seek/favList": {
            "post": {
                "tags": [
                    "\u6c42\u7a2e"
                ],
                "operationId": "favList",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SearchForm"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/seek/edit": {
            "post": {
                "tags": [
                    "\u6c42\u7a2e"
                ],
                "operationId": "edit",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SeekEditForm"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/seek/detail": {
            "post": {
                "tags": [
                    "\u6c42\u7a2e"
                ],
                "operationId": "detail_1",
                "parameters": [
                    {
                        "name": "seekId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "origin",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/seek/create": {
            "post": {
                "tags": [
                    "\u6c42\u7a2e"
                ],
                "operationId": "create",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SeekEditForm"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/seek/collection": {
            "post": {
                "tags": [
                    "\u6c42\u7a2e"
                ],
                "operationId": "collection_1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "make",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
[...]
